*.sch~
*.pcb-
hardware/*.png
hardware/bom
hardware/gerbers
hardware/local_gerbers
hardware/hackvana_gerbers
hardware/order
hardware/*.ps
hardware/*.bak
hardware/*.zip
hardware/*.pdf
hardware/xy
firmware/bin
firmware/build
